html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .contactList
  {
    list-style-type: circle;
    margin: 0;
    margin-left: 80px;
  }

